.DS_Store
*.sass-cache*
*.log
node_modules/
assets/stylesheets/
assets/components/
assets/javascript/vendor/
assets/javascript/foundation.js
assets/javascript/custom/demosite.js
packaged/
assets/images/bg-home.jpg
assets/images/bg-home.m4v
assets/images/bg-home.mp4
assets/images/bg-home.ogv
assets/images/bg-home.webm