.contact {
  @extend .medium-6;
  @extend .large-4;
  @extend .column;

  margin-top: 15px;

  @include element(title){
    font-weight: bold;
  }
  @include element(name){
    
  }
  @include element(address){
    display: block;
  }
}

#facebook {
  padding-top: 15px;
}