.media-banner {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: rem-calc(-32);

  @media #{$small-only}{
    min-height: 100vh;
  }

  @media #{$medium-up}{
    min-height: 100%;
    height: 66vh;
    box-shadow: inset 0 0 15px #000;
  }

  @include element(video) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);

    @media screen and (orientation: portrait){
      min-height: 110vh;
    }

    @media screen and (orientation: landscape){
      min-width: 110vw;
    }

    @media screen and (min-width: $medium-breakpoint){

      @media (orientation: landscape){
        min-width: 110vw;
      }
      @media (orientation: portrait){
        min-height: 110vh;
      }
    }
  }

  .introduction {
    
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    @media #{$small-only} and (orientation: portrait){
      top: 25%;    
    }
    @media #{$medium-up} {
      top: 50%;
    }
  }

  .discover {
    @extend .show-for-small-only;
    display: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: $amatic-sc;
    color: white;
    font-size: 10vw;

    &:before {
      content: "";
      position: absolute;
      width: 50%;
      height:2px;
      bottom: 0;
      left: 25%;
      background-color: #FFF;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}