.introduction {
  color: white;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 8vw;
  text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.75);
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: $small-breakpoint)  { font-size: 5vw; }
  @media screen and (min-width: $medium-breakpoint) { font-size: 4vw; }
  @media screen and (min-width: $large-breakpoint)  { font-size: 2.5vw; }

  @include element(introducing){
    font-family: $satisfy;
    display: block;
  }
  @include element(the){
    font-family: $satisfy;
    display: block;
    font-size: 0.5em;
    margin: -0.5em 0;
  }
  @include element(bugsports){
    font-family: $amatic-sc;
    display: block;
    font-size: 3em;
    margin: -0.4em 0 -0.35em;
  }
  @include element(homegrown){
    font-family: $satisfy;
    display: block;
  }
  @include element(kiwi){
    font-family: $amatic-sc;
    display: block;
    font-size: 1.7271em;
    margin-top: -0.4em;
  }
  @include element(bar){
    display: inline-block;
    position: relative;
    bottom: 0.25em;
    height: 2px;
    width: 3.25em;
    background: white;
  }
}